<div class="row mb-3">
  <div class="col-12">
    <h4 class="mb-2">Here is the recipe!</h4>
    <img [src]="recipe.imagePath"
         alt="{{recipe.name}}"
         class="img-fluid"
         style="max-width: 250px;">
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>

<div class="row">
<!--  <div class="col-12">-->
<!--    <div class="btn-group"-->
<!--         appDropdown-->
<!--    >-->
<!--      <button-->
<!--        type="button"-->
<!--        class="btn btn-primary-->
<!--        dropdown-toggle" data-toggle="dropdown">Manage Recipe</button>-->
<!--      <ul class="dropdown-menu">-->
<!--        <li><a href="#" class="dropdown-item">To Shopping List</a></li>-->
<!--        <li><a href="#" class="dropdown-item">Edit Recipe</a></li>-->
<!--        <li><a href="#" class="dropdown-item">Delete Recipe</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
  <div class="col-12">
    <button class="btn btn-sm btn-primary mr-2"
    (click)="onAddToShoppingList()" routerLinkActive="active" routerLink="/shopping-list">To Shopping List</button>
    <button class="btn btn-sm btn-warning mr-2" (click)="onEditRecipe()">Edit Recipe</button>
    <button (click)="onDeleteRecipe()" class="btn btn-sm btn-danger mr-2">Delete Recipe</button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h6 class="my-2">{{recipe.description}}</h6>
    <p class="text-dark" style="font-weight: bold">Ingredients:</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item"
      *ngFor="let ingrediant of recipe.ingredients">{{ingrediant.name}} ==> {{ingrediant.amount}}</li>
    </ul>
  </div>
</div>
