<div class="row">
  <div class="col-12">
    <form (ngSubmit)="onAddItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-5 form-group">
          <label for="name" class="form-check-label"
          name="name">Name</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 name="name"
                 ngModel
                 required>
<!--          #nameInput Local Refernece method-->
        </div>
        <div class="col-2 form-group">
          <label for="amount" class="form-check-label" >Amount</label>
          <input type="text"
                 id="amount"
                 class="form-control"
                 name="amount"
                 ngModel
                 required
                 pattern="^[0-9]+[0-9]*$">
<!--                 BUiltin input validator-->
<!--          #amountInput Local reference Method-->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-success mr-3" type="submit" [disabled]="!f.valid">{{ editMode ? 'Update': 'Add'}}</button>
<!--          (click)="onAddItem()" Local Reference Method-->
          <button class="btn btn-danger mr-3" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
